body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.izquierda{
    background: #ece4d2;
    height: 100vh;
    width: 50%;

}
.derecha{
   
    background-size: cover;
   background-position: center;
   width: 50%;
   height: 100vh;
}
#division{
    display:flex ;
}

h1{
    font-size: 60px;
    padding-top: 30px;

    margin: auto    ;
}
.color{
    color: #f1ac6b;
}
p{
    font-size: 30px;
    line-height: 50px;
    width: 70%;
    margin: auto;
    ;
}
h2{
    font-size: 40px;
    width: 70%;
    margin: auto;
}